{% extends "base.html.twig" %}
{% import "form_macro.html.twig" as form %}
{% set suffix_val = "_booking" %}

{% block title %}
    Réservation
{% endblock %}

{% block main %}
    <h2 style="margin-top: 25vh;">Cette page sera disponible prochainement</h2>

    <p class="text-center">Retour à la <a class="a_text" href="{{home}}">page d'accueil</a></p>
{% endblock %}